@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(../src/assets/fonts/Inter-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts//Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}

@layer base {
  html {
    font-family: "Inter";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat";
  }
}
