@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(../src/assets/fonts/Inter-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts//Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts//Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Inter";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat";
    font-weight: 500;
  }
  h2 {
    font-size: 36px;
    letter-spacing: -1.44px;
    line-height: 115%;
  }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 3rem;
    }
  }
  em {
    font-family: "Inter";
  }
  button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s;
  }

  .grid-item,
  .grid-sizer {
    width: 30%;
  }
  .grid-item {
    margin-bottom: 5%;
  }
  .gutter-sizer {
    width: 5%;
  }
}

@layer components {
  .translate-r {
    transform: translateX(10px);
  }
  .translate-t {
    transform: translateY(-10px);
  }
}
